

.formControl .error input,
.formControl .error textarea{
    border: 3px salmon;
}

.formControl .error span
{
    color: red;
}

.summoryError{
    border: red 1px solid;
    color: red;
    padding: 5px;
    width: 70px;
}