.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItems {
padding: 10px;
}

.dialogsItems .active {
 color:blueviolet
}

.dialogsItems .dialog {
    padding: 10px;
}

.meaasges{

}

.meaasges .meaasge{
    padding: 10px;
}