.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
text-decoration: none;
}

.dialogsItems {
    
padding: 10px;
}

.dialogsItems .active {
 color:rgb(214, 154, 126)
}

.dialogsItems .dialogs {
    padding: 10px;
}

.meaasges{
    padding: 10px;
}

.meaasges .meaasge{
    padding: 10px;
    color:rgb(204, 228, 203)
}