.nav {
    grid-area: n;
    background-color: goldenrod;
   }
   
   .iteam {
       color: #ffffff;
       text-decoration: none;
   }
   .iteam .active {
       color: gold;
       text-decoration: none;
   }